<p>about works!</p>
<div class="about-section">
    <h1>About Us Page</h1>
    <p>I am 3rd year student from Holy Angel University</p>
    <p>I love ADWEB</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row"></div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/simichael.png" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Michael Pamintuan</h2>
          <p class="title">Student</p>
          <p>I am IT Student.</p>
          <p>mbpamintuan@student.hau.edu.ph</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>